//fonts
$primary-font: 'Montserrat',
sans-serif;
$secondary-font: 'Roboto Slab',
serif;

//font-sizes
$title-font-size: 40px;
$title-description: 16px;
$other-font-size: 18px;
$small-font: 14px;

//colors
$btn-color:#fed136;
$font-color: #222;
$second-font-color:#777;
$basic-font-color: #fff;